doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} : Sentinel
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    block content
    script(src='javascripts/jquery-2.0.3.min.js')
    script(src='javascripts/underscore.js')
    script(src='javascripts/backbone.js')
    script(src='javascripts/prochondo.js')
    script.
      $('.form-login-app').submit(function() {
        $.post('/login', { username: $('#inputEmail').val(), password: $('#inputPassword').val() },
        function(data, textStatus, jqXHR){
          $('body').load('/');
          process.nextTick(function() {  })
        });
        $('#login-error').removeClass('invisible');
        return false;
      });