/* Login Page Starts */

.login-background {
    color: white;
    margin-top: 10%;
    background-color: #769;
    padding: 50px;
}

.login-app .form-login-app {
    margin: auto;
    width: 330px;
}

.login-form {
    margin: 0 auto;
    padding-top: 3%;
}

/* Login Page Ends */