
/*Login page Styling*/

.login-background {
    color: white;
    margin-top: 10%;
    background-color: #769;
    padding: 50px;
}

.login-app .form-login-app {
    margin: auto;
    width: 330px;
}

.login-form {
    margin: 0 auto;
    padding-top: 3%;
}

/*Website Styling*/

a {
    color: #8f77bb;
}
a:hover {
    color: #8f77bb;
}
a:active {
    color: #8f77bb;
}
a:focus {
    color: #8f77bb;
}

.alert-info {
    background-color: #f7f7f7;
    color: #8f77bb;
    border-color: #8f77bb;
}
.alert-warning {
    background-color: #f7f7f7;
    border-color: #8f77bb;
}
.alert-error {
    background-color: #f7f7f7;
    border-color: #8f77bb;
}

/*Header*/

#root-container {
}

#root-header {
    background: #8f66bb;
    overflow: inherit;
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 0 -2px 0 rgba(0,0,0,.15);
    border-color: #463265;
    box-shadow: 0 2px 0 rgba(255,255,255,.1);
}
#root-header .navbar-brand {
    color: #fff;
}
#root-header .navbar-nav > li > a {
    color: #ffffff;
}
#root-header .navbar-nav > li > a:hover {
    text-decoration: none;
    background-color: #8f66bb;
}
#root-header .navbar-nav > .active > a,
#root-header .navbar-nav > .active > a:hover {
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #7066bb;
}
#root-header-logo {
    color: #ffffff;
    display: block;
}
#root-header-controls {
    color: #ffffff;
    display: block;
}

#logo-text {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 -2px 0 rgba(0,0,0,.15);
    background-color: #8f66bb;
}

/*Footer*/

#root-footer {
    height: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#foot-navbar-ul {
    text-decoration: none;
    list-style: none;
}

#search-button {
    margin-left: 10px;
}

/*sidebar*/

#sidebar-root-col {
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    position: static;
    display: block;
}

.sidebar-a {
    color: #000000;
    text-decoration: none;
}
.sidebar-a:hover {
    color: #8f77bb;
    text-decoration: none;
}
.sidebar-a:focus {
    color: #000000;
    text-decoration: none;
}
.sidebar-a:active {
    color: #000000;
    text-decoration: none;
}

/*List group items*/

.sidebar-nested-listg {
    max-width: 90%;
    margin-left: 0px;
}
.sidebar-nested-listgi {
    background-color: #f8f8ff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
}
.sidebar-nested-listgi :hover {
}
.sidebar-nested-listgi a {
    color: #000000;
}
.sidebar-nested-listgi a:hover {
    color: #8f66bb;
    text-decoration: none;
}
.sidebar-nested-listgi a:focus {
    color: #8f66bb;
    text-decoration: none;
}

.lgi-active {
    background-color: #f9f9f9;
}
.lgi-active p {
    color: #8f66bb;
}
.lgi-active a {
    color: #8f66bb;
}
.lgi-active .sidebar-nested-listgi {
    background-color: #f2f2f2;
}
.lgi-active .sidebar-nested-listgi:hover {
    background-color: #8f77bb;
    color: #ffffff;
}
.lgi-active .nlgi-active {
    background-color: #8f77bb;
    color: #ffffff;
}
.lgi-active .nlgi-active:focus {
    background-color: #8f77bb;
    color: #ffffff;
}
.lgi-active .nlgi-active:hover {
    background-color: #8f77bb;
    color: #ffffff;
}


/*Main page's content*/

#content-root-col {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-left: 0px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    position: relative;
}


/*Content root column*/

#content-root-col {
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    position: static;
    display: block;
}

#ctrl-container {
    width: 80%;
    margin-left: 100px;
}
#ctrl-container ul {
    margin-bottom: 20px;
}
